In [9]:
#1
import pandas as pd

In [4]:
import requests
import io

In [5]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [ ]:
#data = requests.get(url,sep='delimiter').content

In [10]:
dt = pd.read_csv(url,sep = '\t',engine='python')

In [37]:
dt.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [41]:
second = pd.read_table(url,header=0)

In [42]:
second.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [46]:
chipo =dt

In [47]:
#4
chipo[:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [48]:
#5
len(chipo)

4622

In [49]:
#6
chipo.shape

(4622, 5)

In [57]:
#6
len(chipo.columns)

5

In [56]:
#7
chipo.columns.values.tolist()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [58]:
#8
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [86]:
A = chipo['item_name'].value_counts()

In [88]:
A

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Bowl                                       2
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

In [78]:
#9
chipo['item_name'].value_counts().nlargest(1)

Chicken Bowl    726
Name: item_name, dtype: int64

In [74]:
#10
len(chipo['item_name'].value_counts())

50

In [142]:
#sol

c = chipo.groupby('item_name').sum()
c = c.sort_values(['quantity'],ascending=False)
c.head(1)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

In [117]:
#11
Abc = chipo['choice_description'].value_counts().nlargest(1)
Abc.head()

[Diet Coke]    134
Name: choice_description, dtype: int64

In [137]:
#sol
c = chipo.groupby(['choice_description']).sum()
c = c.sort_values(['quantity'],ascending=False)
c.head(1)

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

In [83]:
#12
chipo['quantity'].sum()

4972

In [93]:
chipo['item_price'].dtype.kind

'O'

In [96]:
#13
chipo['item_price']= pd.to_numeric(chipo['item_price'].str.replace('$',''))

In [99]:
chipo['item_price'].dtype

dtype('float64')

In [100]:
#14 wrong
chipo['item_price'].sum()

34500.16000000046

In [129]:
(chipo['quantity'] * chipo['item_price']).sum()

39237.020000000055

In [103]:
#15
len(chipo['order_id'].unique())

1834

In [127]:
#sol
chipo['order_id'].value_counts().count()

1834

In [125]:
Aaa= chipo.groupby('order_id').sum()
Aaa.mean()

quantity       2.711014
item_price    18.811429
dtype: float64

In [112]:
len(chipo['item_name'].value_counts())

50

In [115]:
A = len(chipo['order_id'].value_counts())
A

1834

In [116]:
#16
chipo['item_price'].sum()/A

18.811428571428824