In [1]:
import pandas as pd
import numpy as np

In [79]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [5]:
df = pd.DataFrame(data=data,index=labels)
df

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

In [8]:
df.describe()

/home/ubuntu/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%         NaN   1.000000
50%         NaN   2.000000
75%         NaN   2.750000
max    7.000000   3.000000

In [9]:
df[:3]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

In [18]:
df[['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [21]:
df.ix[[3,4,8],['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [25]:
df.loc[df['visits']>2]

   age animal priority  visits
b  3.0    cat      yes       3
d  NaN    dog      yes       3
f  2.0    cat       no       3

In [35]:
df.loc[df['age'].isnull()]

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

In [45]:
df.loc[(df['animal']=='cat') & (df['age']<3)]

   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

In [46]:
df.loc[(df['age']>=2) & (df['age']<= 4)]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1

In [49]:
df['age']['f']=5

/home/ubuntu/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [51]:
df['age']['f']

5.0

In [53]:
df['visits'].sum()

19

In [55]:
df.groupby('animal')['age'].mean()

animal
cat      3.5
dog      5.0
snake    2.5
Name: age, dtype: float64

In [59]:
df.loc['k']=['4','python','yes','3']

In [60]:
df

   age  animal priority visits
a  2.5     cat      yes      1
b    3     cat      yes      3
c  0.5   snake       no      2
d  NaN     dog      yes      3
e    5     dog       no      2
f    5     cat       no      3
g  4.5   snake       no      1
h  NaN     cat      yes      1
i    7     dog       no      2
j    3     dog       no      1
k    4  python      yes      3

In [66]:
df['animal'].value_counts()

cat       4
dog       4
snake     2
python    1
Name: animal, dtype: int64

In [73]:
df.sort_values(by=['age','visits'],ascending=[False,True])

   age  animal priority visits
k    4  python      yes      3
i    7     dog       no      2
e    5     dog       no      2
f    5     cat       no      3
g  4.5   snake       no      1
j    3     dog       no      1
b    3     cat      yes      3
a  2.5     cat      yes      1
c  0.5   snake       no      2
h  NaN     cat      yes      1
d  NaN     dog      yes      3

In [80]:
df['priority']=df['priority'].map({'yes':True,'no' :False})
df

   age  animal priority visits
a  2.5     cat      NaN      1
b    3     cat      NaN      3
c  0.5   snake      NaN      2
d  NaN     dog      NaN      3
e    5     dog      NaN      2
f    5     cat      NaN      3
g  4.5   snake      NaN      1
h  NaN     cat      NaN      1
i    7     dog      NaN      2
j    3     dog      NaN      1
k    4  python      NaN      3

In [81]:

df['priority'] = df['priority'].map({'yes': True, 'no': False})

In [82]:
df

   age  animal priority visits
a  2.5     cat      NaN      1
b    3     cat      NaN      3
c  0.5   snake      NaN      2
d  NaN     dog      NaN      3
e    5     dog      NaN      2
f    5     cat      NaN      3
g  4.5   snake      NaN      1
h  NaN     cat      NaN      1
i    7     dog      NaN      2
j    3     dog      NaN      1
k    4  python      NaN      3

In [86]:
df['animal']=df['animal'].replace('snake','python')

In [87]:
df

   age  animal priority visits
a  2.5     cat      NaN      1
b    3     cat      NaN      3
c  0.5  python      NaN      2
d  NaN     dog      NaN      3
e    5     dog      NaN      2
f    5     cat      NaN      3
g  4.5  python      NaN      1
h  NaN     cat      NaN      1
i    7     dog      NaN      2
j    3     dog      NaN      1
k    4  python      NaN      3

In [ ]:
df.groupby('animal')['visits'].mean()

In [ ]:
df.pivot_table(index='animal',columns='visits',values='ages',aggfunc='mean')

In [ ]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

In [95]:
pd.__version__

u'0.18.1'